* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #333;
    height: 550vh;
}

#header {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    font-size: 10pt;
}

#header a {
    text-decoration: none;
}

#header h1 {
    padding: 10px;
    font-size: 12pt;
    color: blueviolet;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 7px;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(172, 164, 99);
}

#navbar a {
    text-decoration: none;
    color: white;
}

#escolhas {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#escolhas button {
    margin: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid black;
    height: 30px;
    width: 115px;
}

#Sobre button {
    background-color: orange;
}

#Sobre button:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 40px;
    width: 125px;
    box-shadow: orange 0px 20px 30px -10px;
    background-color: #ffffff;
    transition: 1s ease;
}

#Sobre a {
    color: black;
    text-decoration: none;
}

#Habi button {
    background-color: cornflowerblue;
}

#Habi button:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 40px;
    width: 125px;
    box-shadow: cornflowerblue 0px 20px 30px -10px;
    background-color: #ffffff;
    transition: 1s ease;
}

#Habi a {
    color: black;
    text-decoration: none;
}

#Projetos button {
    background-color: yellow;
}

#Projetos button:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 40px;
    width: 125px;
    box-shadow: yellow 0px 20px 30px -10px;
    background-color: #ffffff;
    transition: 1s ease;
}

#Projetos a {
    color: black;
    text-decoration: none;
}

.titulo {
    padding: 0 20px;
    color: #ffffff;
    text-align: left;
    border-bottom: 1px solid black;   
}

.projetos {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.sitenome {
    padding: 10px;
    color: #ffffff;
}

.site {
    margin: auto;
    width: 90vw;
    height: 30vh;
    background: url(../img/siterpg.png) no-repeat center center/cover ;
    border: 2px solid #ffffff;
}

.site h1 {
    color: #ffffff;
    text-transform: uppercase;
}

.site button {
    margin-top: 130px;
    height: 30px;
    width: 100px;
    border-radius: 100px;
    border: none;
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: white;
    color: black;
}

.site button:hover {
    background-color: black;
    color: #ffffff;
    transition: 0.7s ease;
}

.site button a {
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
}

.site button a:hover {
    color: #ffffff;
}

.sitehenki {
    margin: auto;
    width: 90vw;
    height: 40vh;
    background: url(../img/Henki.jpg) no-repeat center center/cover ;
    border: 2px solid #ffffff;
}

.sitehenki h1 {
    color: #ffffff;
    text-transform: uppercase;
}

.sitehenki button {
    margin-top: 130px;
    height: 30px;
    width: 100px;
    border-radius: 100px;
    border: none;
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: white;
    color: black;
}

.sitehenki button:hover {
    background-color: black;
    color: #ffffff;
    transition: 0.7s ease;
}

.sitehenki button a {
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
}

.site button a:hover {
    color: #ffffff;
}

.explicacao {
    padding: 10px 0;
    margin-left: 20px;
    width:92%;
    color: #ffffff;
}